{{> navbar }}

<div class="card m-5 border-secondary">
<div class="card-header text-center text-light fs-2">Latest posts</div> 
  <div class="card-body">
    {{#each posts as |post|}}
      <div class="card m-2">
        <div class="card-header fs-3">
          <a href="/post/{{post.id}}">{{post.title}} by {{post.user.username}}</a>
        </div>
        <div class="card-body">
          <h4 class="fs-4">{{post.content}}</h4>
          <small>Created: {{post.createdAt}}</small>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div id="postContainer">

</div>

{{> bootstrapjs}}